dialog {
    background-color: rgb(255, 255, 255);
    border-color: transparent;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    height: min-content;
    width: max-content;
    z-index: 1;
 }

form, .errors {
    display: flex;
    flex-direction: column;
}

form {
    gap: 5px;
}

.purpose-box {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    justify-content: center;
}

p {
    margin: auto;
}

.errors span {
    color: rgb(182, 64, 64);
    gap: 1rem;
}

.cancel-btn {
    margin-top: 0.5rem;
    flex-grow: 1;
}