dialog {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 1px solid aqua;
    color: rgb(233, 42, 42);
    border-color: transparent;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    height: 400px;
    width: max-content;
 }