<dialog #addPasswordDialog>   
    <form [formGroup]="passwordForm" (submit)="onSubmit()" tabindex="0">
        <div class="field">
            <label class="label" for="name">Name</label>
            <input class="input" id="name" type="text" autocomplete="off" formControlName="name">
        </div>

        <div class="field">
            <label class="label" for="value">Value</label>
            <input class="input" id="value" type="text" autocomplete="off" formControlName="value">
        </div>

        <p>Purpose</p>
        <div class="purpose-box">
            @for (passwordType of passwordTypes; track passwordType;) {
                <div class="control">
                    @let id = "Purpose_" + passwordTypeLabels[passwordType];
                    <label class="radio" [htmlFor]="id">
                        <input type="radio" [id]="id" [value]="passwordType" formControlName="purpose">
                        {{ passwordTypeLabels[passwordType] }}
                    </label>
                </div>
            }
        </div>

        <div class="errors">
            @if (nameControl.invalid && (nameControl.dirty || nameControl.touched)) 
            {
                @if (nameControl.hasError('required')) {
                    <span>Name is required.</span>
                }

                @if (nameControl.hasError('email')) {
                    <span>Name should be email.</span>
                }
            }

            @if (valueControl.invalid && (valueControl.dirty || valueControl.touched)) 
            {
                @if (valueControl.hasError('required')) {
                    <span>Value is required.</span>
                }

                @if (valueControl.hasError('minlength')) {
                    <span>Value must be at least 8 characters long.</span>
                }
            }

            @for (error of errors(); track error) {
                <span>{{ error }}</span>
            }
        </div>

        <button class="button is-success" type="submit" [disabled]="passwordForm.invalid">Add password</button>
        <button class="button is-light cancel-btn" (click)="close()">Cancel</button>
    </form>
</dialog>

<button class="button is-primary" (click)="addPasswordDialog.show()">Add password</button>