<dialog #addPasswordDialog>    
    <form [formGroup]="passwordForm" (submit)="onSubmit()">
        <div>
            <label for="name">Name</label>
            <input id="name" type="text" formControlName="name">
        </div>

        <div>
            <label for="value">Value</label>
            <input id="value" type="text" formControlName="value">
        </div>

        <div>
            <h4>Purpose</h4>
            @for (passwordType of passwordTypes; track passwordType;) {
                @let id = "Purpose_" + passwordTypeLabels[passwordType];
                <input type="radio" [id]="id" [value]="passwordType" formControlName="purpose">
                <label [htmlFor]="id">
                    {{ passwordTypeLabels[passwordType] }}
                </label>
            }
        </div>

        <div class="errors">
            @if (nameControl.invalid && (nameControl.dirty || nameControl.touched)) 
            {
                @if (nameControl.hasError('required')) {
                    <span>Name is required.</span>
                }

                @if (nameControl.hasError('email')) {
                    <span>Name should be email.</span>
                }
            }

            @if (valueControl.invalid && (valueControl.dirty || valueControl.touched)) 
            {
                @if (valueControl.hasError('required')) {
                    <span>Value is required.</span>
                }

                @if (valueControl.hasError('minlength')) {
                    <span>Value must be at least 8 characters long.</span>
                }
            }

            @for (error of errors(); track error) {
                <span>{{ error }}</span>
            }
        </div>

        <button type="submit" [disabled]="passwordForm.invalid">Add password</button>
    </form>

    <button (click)="close()">Cancel</button>
</dialog>

<button (click)="addPasswordDialog.show()">Add new password</button>