################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestRESTApp/.vs
/TestRESTApp/bin/Debug/net8.0
/TestRESTApp/obj
