<button (click)="updateList()" type="button">Update</button>

<input type="text" [formControl]="searchInput" placeholder="Search passwords..." />

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Creation date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (password of passwords$ | async; track password.name) {
            <tr>
                <td>{{ password.name }}</td>
                <td>
                    <password-value-element [text]="password.value"/>
                </td>
                <td>{{ password.creationDate | date:'short' }}</td>
                <td>
                    <button (click)="deletePassword(password.name)" type="button">Delete</button>
                </td>
            </tr>
        }
        @empty {
            <tr>
                There is no passwords
            </tr>
        }
    </tbody>
</table>
